/* 服务 */
#fuwu .row div:hover {
	transform: translateY(-10px) scale(1.05);
	transition: 0.3s;
}
#fuwu .row .iconfont {
	font-size: 40px;
	color: #FEBC35;
}
#fuwu .row a {
	color: #FEBC35;
	font-weight: bold;
}
#fuwu .mybox .media{
	background-color: #fff;
	border-radius: 5px;
	margin: 20px auto;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.05);
}
#fuwu .mybox .media h5{
	font-weight: bold;
	cursor: pointer;
}
#fuwu .mybox .media h5:hover{
	color: #FEBC35;
	transition: 0.5s;
}
#fuwu .mybox .media p{
	color: #58585D;
}
/* 联系 */
#lianxi {
	position: relative;
}
#lianxi .bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.55);
}
#lianxi .row .iconfont {
	font-size: 40px;
	color: #FEBC35;
}
#lianxi .row .mybtn {
	color: #000;
	font-weight: 600;
	background-color: #FEBC35;
	width: 120px;
	height: 50px;
	line-height: 38px;
	font-size: 18px;
}

#lianxi .row .mybtn:hover {
	background-color: #000;
	color: #fff;
}
/* 服务 */
#gongneng .row .iconfont {
	font-size: 40px;
	color: #FEBC35;
}
#gongneng .row a {
	color: #FEBC35;
	font-weight: bold;
}
#gongneng .mybox .media{
	background-color: #fff;
	border-radius: 5px;
	margin: 20px auto;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.05);
}
#gongneng .mybox .media:hover {
	background-color: #000;
	color: #fff;
	transition: 0.3s;
}
#gongneng .mybox .media h5{
	font-weight: bold;
}
#gongneng .mybox .media span{
	font-size: 50px;
}
#gongneng .mybox .media p{
	color: #58585D;
}